<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category name="Log Viewer" id="logviewer"/>
      <view
            name="%logviewer.plugin.name"
            icon="icons/logviewer.gif"
            category="logviewer"
            class="de.anbos.eclipse.logviewer.plugin.LogViewer"
            id="de.anbos.eclipse.logviewer.plugin.LogViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="de.anbos.eclipse.logviewer.plugin.LogViewer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="de.anbos.eclipse.logviewer.plugin.LogViewer.page1"
	    class="de.anbos.eclipse.logviewer.plugin.preferences.LogViewerPreferences"
            name="%logviewer.properties.main.page.title">
       </page>
       <page id="de.anbos.eclipse.logviewer.plugin.LogViewer.page1.3"
        class="de.anbos.eclipse.logviewer.plugin.preferences.rule.RulePreferencePage"
            name="%logviewer.properties.rules.page.title"
            category="de.anbos.eclipse.logviewer.plugin.LogViewer.page1">
       </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%logviewer.actionset.name"
            visible="true"
            id="de.anbos.eclipse.logviewer.plugin.actionset">
         <action
               class="de.anbos.eclipse.logviewer.plugin.action.FileOpenWorkbenchAction"
               icon="icons/logviewer.gif"
               id="de.anbos.eclipse.logviewer.plugin.action.fileopen"
               label="%logviewer.action.openfile.name"
               menubarPath="File/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the Log Viewer in the current workbench page"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.anbos.eclipse.logviewer.plugin.LogViewer.objectContribution1"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <action
               class="de.anbos.eclipse.logviewer.plugin.action.FileOpenAction"
               enablesFor="+"
               icon="icons/logviewer.gif"
               id="de.anbos.eclipse.logviewer.plugin.action.fileopen.menu"
               label="%logviewer.action.openwith.name"
               menubarPath="additions"
               tooltip="Open the Log Viewer for selected files">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.anbos.eclipse.logviewer.plugin.LogViewer?after=additions">
         <command
               commandId="org.eclipse.ui.edit.findReplace"
               disabledIcon="icons/passive/find_obj_passive.gif"
               icon="icons/active/find_obj_active.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="icons/passive/copy_passive.gif"
               icon="icons/active/copy_active.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.anbos.eclipse.logviewer.plugin.commands.FindReplaceHandler"
            commandId="org.eclipse.ui.edit.findReplace">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="de.anbos.eclipse.logviewer.plugin.LogViewer">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.anbos.eclipse.logviewer.plugin.commands.CopyToClipboardHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="de.anbos.eclipse.logviewer.plugin.LogViewer">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="de.anbos.eclipse.logviewer.plugin.ConsolePageParticipant"
            id="de.anbos.eclipse.logviewer.plugin.consolePageParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.ui.console.AbstractConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="de.anbos.eclipse.logviewer.plugin.ConsoleFactory"
            icon="icons/logviewer.gif"
            label="%logviewer.plugin.console.name">
      </consoleFactory>
   </extension>
</plugin>
